<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <form class="form" action="http://127.0.0.1:5000/" method="POST">
                <div class="input text">
                    <label>Name</label>
                    <input class="text-input" type="text" name="name">
                </div>
                <div class="input">
                    <input type="radio" id="new" name="room" value="new">
                    <label for="new">New Room</label>
                </div>
                <div class="input">
                    <input type="radio" id="join" name="room" value="join">
                    <label for="join">Join Room</label>
                </div>
                <div class="input text">
                    <label>Room ID</label>
                    <input class="text-input" type="text" name="roomId">
                </div>
                <button type="submit" >Join</button>
            </form>
        </div>
    </div>
</body>
</html>